@media screen and (max-width: 767px) {    
    /* Mobile responsive */

    
    .flex{
        flex-direction: column;
    }

    body,html {
        width: 100%;
        overflow-x: hidden;
    }
    

    /* Header */

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .logo h1 {
        border-bottom: 2px solid black; 
        padding-bottom: 10px; 
    }

    .botao-abrir-menu i{
        display:block;
    }
    

    .menu{
        display: none;
    }

}
  