* {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

/* Estilos para o header */
header {
    background-color: orange; /* Cor de fundo do cabeçalho */
    padding: 20px 0; /* Espaçamento interno */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

header .nav {
    display: flex;
    justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
    align-items: center; /* Centraliza verticalmente os elementos */
    width: 60%;
}

header h1 {
    color: blueviolet;
    text-align: center; /* Centraliza o texto */
    
}

header input[type="text"] {
    width: 300px; /* Largura da barra de busca */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    display: block; /* Torna a barra de busca em um bloco para poder centralizá-la */
    margin: 0 auto; /* Centraliza a barra de busca horizontalmente */
}

section {
    padding: 50px 0; /* Adiciona um espaçamento interno nas seções */
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px; /* Adiciona um espaçamento interno nas seções */
}

.container h1 {
    font-size: 70px;
    color: #333; /* Cor do título */
    text-align: center; /* Centraliza o título */
    margin-bottom: 30px; /* Adiciona espaço abaixo do título */
}

.container span {
    color: orange;
}


.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui os produtos igualmente na linha */
    gap: 30px; /* Adiciona espaçamento entre os produtos */
}

.produto {
    width: calc(33.33% - 20px); /* Largura dos produtos */
    text-align: center; /* Centraliza o conteúdo do produto */
    border: 1px solid rgba(0, 0, 0, 0.562); /* Adiciona uma borda */
    border-radius: 8px; /* Arredonda as bordas */
    padding: 30px; /* Adiciona um espaçamento interno */
    box-sizing: border-box; /* Considera a borda e o preenchimento como parte do tamanho total */
    padding-bottom: 10px;
}

.produto a {
    text-decoration: none;
}

.produto img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Permite que a altura da imagem seja ajustada automaticamente */
    margin-bottom: 15px; /* Adiciona espaço abaixo da imagem */
}

.produto h3 {
    margin-bottom: 10px; /* Adiciona espaço abaixo do título */
}

.produto p {
    color: #666;
    margin-bottom: 20px;
}

.produto .preco {
    font-weight: bold; /* Deixa o preço em negrito */
    color: #333; /* Cor do preço */
}

.produto button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Adiciona um espaçamento interno no botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    border-radius: 5px; /* Borda arredondada do botão */
    font-weight: 600;
    margin-top: 10px;
}

.produto button:hover {
    background-color: #0056b3; 
}

/* Estilos para o footer */
footer {
    background-color: #007bff;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}