/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    background-color: orange;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.575);
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar h1 {
    color: blueviolet;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.header-nav {
    max-width: 1200px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    color: black;
    margin: 1.2rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: ease .2s;
    font-weight: bold;
}

.icons-nav {
    display: flex;
    align-items: center;
}

.icons-nav i {
    width: 30px;
    cursor: pointer;
}

/* HEADER */
header {
    background-image: radial-gradient(#ffff, #c7c7c7);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    overflow: hidden;
}

.header-botao-esquerdo {
    height: 100%;
    align-items: center;
    float: left;
    margin-left: 200px;
    margin-top: 100px;
}

.header-botao-direito {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.header-botao-esquerdo h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.header-botao-esquerdo p {
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.header-botao-esquerdo button {
    background-color: rgba(255, 166, 0, 0.783);
    color: black;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 1px black;
    padding: 0.8rem 3.8rem;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: ease .2s;
}

.header-botao-esquerdo button:hover {
    background-color: rgba(247, 238, 65, 0.826);
}

.header-botao-direito img {
    width: 300px;
    border: none;
    border-radius: 30px;
}

/* MAIN */
main {
    background-color: rgba(222, 209, 209, 0.605);
}

.fundo {
    background-color: rgba(232, 31, 243, 0.386);
}

.content-pag h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 4rem;
}

.subtitulo-underline {
    width: 15%;
    height: 3px;
    background-color: blue;
    border-radius: 100px;
    margin: 8px auto 0 auto;
}

.content-pag {
    max-width: 1280px;
    margin: 0 auto;
}

.colunas-pag {
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.colunas-pag div {
    cursor: pointer;
    transition: ease .2s;
}

.colunas-pag div:hover {
    transform: translateY(-5px);
}

.colunas-pag img {
    width: 100%;
}

.produtos-pag {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.produtos-pag img {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 60px;
    width: 200px;

}

.produtos-pag p {
    margin-top: 10px;
    text-align: center;
    margin-right: 60px;
}

.nome-produto {
    font-weight: 600;
}

.preco-produto {
    font-size: 1.2rem;
}

.icone-compras {
    position: relative; /* Defina a posição como relativa */
    cursor: pointer;
}

.lista-compras {
    position: absolute;
    top: calc(100% + 5px); /* Posição abaixo do ícone com um pequeno espaço */
    left: 0;
    background-color: #f9f9f9; /* Cor de fundo da lista */
    border: 1px solid #ccc; /* Borda da lista */
    border-radius: 5px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno */
}

.lista-compras ul {
    list-style-type: none; /* Remover estilos de lista padrão */
    padding: 0;
}

.lista-compras li {
    margin-bottom: 5px; /* Espaçamento entre os itens da lista */
}

.lista-compras a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #333; /* Cor do texto dos links */
    display: block; /* Transformar o link em um bloco para preencher toda a largura do item da lista */
    padding: 5px; /* Espaçamento interno dos links */
    border-radius: 3px; /* Borda arredondada nos links */
}

.lista-compras a:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse sobre os links */
}



/* Footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    text-align: center; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px; 
    margin: 0 auto; 
    align-items: center;
}
.footer-content h3 {
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-content span:hover {
    color: #ff5e3a; 
}

.social-media a {
    color: #fff; 
    font-size: 20px; 
    margin: 0 10px; 
    transition: color 0.3s ease; 
    }

.social-media a:hover {
    color: #ff5e3a; 
}

.copy-underline {
    border-bottom: 1px solid #fff; 
    margin-top: 5px;
}

.copyright i {
    font-size: 12px;
    
}

.copyright p {
    display: inline-block;
    padding-bottom: 10px; 
    margin-top: 10px; 
}

