* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}

/* Estilos básicos */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: auto;

}

.flex {
    display: flex;
}


/* Header */

header{
    padding: 40px ;
    padding-left:30px;
    background: rgba(255, 166, 0, 0.722);
    
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header h1 {
    color: blueviolet;
    font-weight: 600;
}

header a {
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: blueviolet;
    transform: scale(1.3);
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding-left: 50px;
}


/* Menu Mobile */
.botao-abrir-menu i{
    color: black;
    font-size: 40px;
    display: none;
}

.menu-mobile {
    background: linear-gradient(to right, rgba(32, 46, 51, 0.8));
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow-x: hidden;
    transition: .4s;
}

.menu-mobile.abrir-menu{    /* javascript para abrir menu */
    width: 60%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .botao-fechar{
    padding: 20px 6%;
}

.menu-mobile .botao-fechar i {
    color: #0056b3;
    font-size: 30px;
    cursor: pointer;
}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li {
    display: block;
}

.menu-mobile nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 20px 18%;
}

.menu-mobile nav ul li a:hover {
    background-color: #007bff;
    color: black;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}



/* Main */


.resumo {
    background-color: rgba(137, 43, 226, 0.404); 
    padding: 50px 0; 
    text-align: center; 
}

.resumo .container {
    max-width: 1200px; 
    margin: auto; 
    padding-bottom: 120px;
}

.resumo h1 {
    color: rgba(0, 0, 0, 0.766);
    font-size: 3rem; 
    font-weight: 600;
    margin-bottom: 60px; 
}

.resumo p {
    color: #666; 
    font-size: 1.4rem; 
    margin-bottom: 60px; 
}

.resumo .btn {
    display: inline-block; /* Permite que o botão ocupe apenas o espaço necessário */
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 40px; 
    text-decoration: none; 
    border-radius: 10px;
}

.resumo .btn:hover {
    background-color: #0056b3; 
}



section#destaques {
    padding: 50px 0; 
    padding-bottom:50px;
    background-color: rgba(255, 166, 0, 0.722);
}

section#destaques .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

section#destaques h2 {
    color: #333; 
    text-align: center; 
    margin-bottom: 30px; 
    font-weight: 600;
    font-size: 2rem;
}



/* Estilos para os produtos */



.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 30px; 
}

.produto {
    width: calc(33.33% - 20px); /* Largura dos produtos */
    text-align: center; 
    border: 1px solid rgba(0, 0, 0, 0.562);
    border-radius: 8px; 
    padding: 30px; 
    padding-bottom: 10px;
}

.produto a {
    text-decoration: none;
}

.produto img {
    /* width: 300px; */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Permite que a altura da imagem seja ajustada automaticamente */
    margin-bottom: 15px; 
}

.produto h3 {
    margin-bottom: 10px; 
}

.produto p {
    color: #666;
    margin-bottom: 20px;
}

.produto .preco {
    font-weight: bold; 
    color: #333; 
}

.produto button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 8px; 
    font-weight: 600;
    margin-top: 10px;
}

.produto button:hover {
    background-color: #0056b3; 
}

.produto p#precoalt {
    margin-top: 30px;
    font-size: 0.6rem;
}

section#novidades {
    padding: 50px 30px;
}

section#novidades h2 {
    color: #333; 
    text-align: center; 
    margin-bottom: 30px; 
    padding-top: 40px;
    font-weight: 600;
    font-size: 2rem;
}


#recado {
    background-color: #f9f9f9;
    padding: 50px 0; 
    text-align: center; 
}

#recado .container {
    max-width: 800px; 
    margin: auto;
}

#recado h2 {
    color: #333; 
    margin-bottom: 20px; 
}

#recado p {
    color: #666; 
    font-size: 1.1rem; 
    margin-bottom: 20px;
}

#recado ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
}

#recado ul li {
    margin: 0 10px; 
}

#recado ul li a {
    color: #007bff; 
    text-decoration: none; 
    padding: 10px 20px; 
    border: 1px solid #007bff; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#recado ul li a:hover {
    background-color: #007bff; 
    color: #fff; 
}




/* Footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    text-align: center; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px; 
    margin: 0 auto; 
    align-items: center;
}
.footer-content h3 {
    margin-bottom: 5px;
    transition: color 0.3s ease;
}



.footer-content span:hover {
    color: #ff5e3a; 
    cursor: pointer;
}

.social-media a {
    color: #fff; 
    font-size: 20px; 
    margin: 0 10px; 
    transition: color 0.3s ease; 
    }

.social-media a:hover {
    color: #ff5e3a; 
}

.copy-underline {
    border-bottom: 1px solid #fff; 
    margin-top: 5px;
}

.copyright i {
    font-size: 12px;
    
}

.copyright p {
    display: inline-block;
    padding-bottom: 10px; 
    margin-top: 10px; 
}

