* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}

/* Estilos básicos */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: auto;

}

.flex {
    display: flex;
}


/* Header */

header{
    padding: 40px ;
    padding-left:30px;
    background: orange;
    
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header h1 {
    color: blueviolet;
}

header a {
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: blueviolet;
    transform: scale(1.3);
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding-left: 50px;
}


/* Menu Mobile */
.botao-abrir-menu i{
    color: black;
    font-size: 40px;
    display: none;
}

.menu-mobile {
    background: linear-gradient(to right, rgba(32, 46, 51, 0.8));
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow-x: hidden;
    transition: .4s;
}

.menu-mobile.abrir-menu{    /* javascript para abrir menu */
    width: 60%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .botao-fechar{
    padding: 20px 6%;
}

.menu-mobile .botao-fechar i {
    color: #0056b3;
    font-size: 30px;
    cursor: pointer;
}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li {
    display: block;
}

.menu-mobile nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 20px 18%;
}

.menu-mobile nav ul li a:hover {
    background-color: #007bff;
    color: black;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}



/* Main */

/* Estilos para o resumo do site */
.resumo {
    background-color: #f9f9f9; /* Cor de fundo do resumo */
    padding: 50px 0; /* Espaçamento interno do resumo */
    text-align: center; /* Centraliza o conteúdo do resumo */
}

.resumo .container {
    max-width: 1200px; /* Largura máxima do contêiner do resumo */
    margin: auto; /* Centraliza o contêiner do resumo */
}

.resumo h1 {
    color: #333; /* Cor do título do resumo */
    font-size: 2.5rem; /* Tamanho do título do resumo */
    margin-bottom: 20px; /* Espaçamento abaixo do título do resumo */
}

.resumo p {
    color: #666; /* Cor do texto do resumo */
    font-size: 1.2rem; /* Tamanho do texto do resumo */
    margin-bottom: 20px; /* Espaçamento abaixo do texto do resumo */
}

.resumo .btn {
    display: inline-block; /* Permite que o botão ocupe apenas o espaço necessário */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    border-radius: 5px; /* Borda arredondada do botão */
}

.resumo .btn:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}



section {
    padding: 50px 0; /* Adiciona um espaçamento interno nas seções */
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px; /* Adiciona um espaçamento interno nas seções */
}

h2 {
    color: #333; /* Cor do título */
    text-align: center; /* Centraliza o título */
    margin-bottom: 30px; /* Adiciona espaço abaixo do título */
}

/* Estilos para os produtos */

/* Estilos para os produtos em destaque */

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui os produtos igualmente na linha */
    gap: 30px; /* Adiciona espaçamento entre os produtos */
}

.produto {
    width: calc(33.33% - 20px); /* Largura dos produtos */
    text-align: center; /* Centraliza o conteúdo do produto */
    border: 1px solid rgba(0, 0, 0, 0.562); /* Adiciona uma borda */
    border-radius: 8px; /* Arredonda as bordas */
    padding: 30px; /* Adiciona um espaçamento interno */
    box-sizing: border-box; /* Considera a borda e o preenchimento como parte do tamanho total */
    padding-bottom: 10px;
}

.produto a {
    text-decoration: none;
}

.produto img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Permite que a altura da imagem seja ajustada automaticamente */
    margin-bottom: 15px; /* Adiciona espaço abaixo da imagem */
}

.produto h3 {
    margin-bottom: 10px; /* Adiciona espaço abaixo do título */
}

.produto p {
    color: #666;
    margin-bottom: 20px;
}

.produto .preco {
    font-weight: bold; /* Deixa o preço em negrito */
    color: #333; /* Cor do preço */
}

.produto button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Adiciona um espaçamento interno no botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    border-radius: 5px; /* Borda arredondada do botão */
    font-weight: 600;
    margin-top: 10px;
}

.produto button:hover {
    background-color: #0056b3; 
}


#recado {
    background-color: #f9f9f9; /* Cor de fundo */
    padding: 50px 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
}

#recado .container {
    max-width: 800px; /* Largura máxima do contêiner */
    margin: auto; /* Centraliza o contêiner */
}

#recado h2 {
    color: #333; /* Cor do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

#recado p {
    color: #666; /* Cor do texto */
    font-size: 1.1rem; /* Tamanho da fonte */
    margin-bottom: 20px; /* Espaçamento abaixo do texto */
}

#recado ul {
    list-style: none; /* Remove a marcação da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    display: flex; /* Exibe os itens da lista em linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

#recado ul li {
    margin: 0 10px; /* Espaçamento entre os itens da lista */
}

#recado ul li a {
    color: #007bff; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão do link */
    padding: 10px 20px; /* Espaçamento interno dos links */
    border: 1px solid #007bff; /* Adiciona uma borda ao redor dos links */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s, color 0.3s; /* Transição suave de cores */
}

#recado ul li a:hover {
    background-color: #007bff; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}




/* Footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    text-align: center; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px; 
    margin: 0 auto; 
    align-items: center;
}
.footer-content h3 {
    margin-bottom: 5px;
    transition: color 0.3s ease;
}



.footer-content span:hover {
    color: #ff5e3a; 
    cursor: pointer;
}

.social-media a {
    color: #fff; 
    font-size: 20px; 
    margin: 0 10px; 
    transition: color 0.3s ease; 
    }

.social-media a:hover {
    color: #ff5e3a; 
}

.copy-underline {
    border-bottom: 1px solid #fff; 
    margin-top: 5px;
}

.copyright i {
    font-size: 12px;
    
}

.copyright p {
    display: inline-block;
    padding-bottom: 10px; 
    margin-top: 10px; 
}

